@charset "utf-8";
/************************************************
Cloud9 Publishing Group
Author : Cloud9 (2013.09)
commnet : base
*************************************************/

/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,figure,figcaption{margin:0;padding:0}
/* 2014-09-12 body,input,textarea,select,button,table,pre{font-family:'돋움',Dotum,Helvetica,AppleGothic,Sans-serif;font-size:12px;line-height:1.7} */
body,input,textarea,select,button,table,pre{font-family:'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:12px;line-height:1.7}

/* 2014-05-31 body{color:#666;background:url(../../images/swp/common/bg_gnb.gif) repeat-x} */
body{color:#666;background:url("../images/bg_gnb81.gif") repeat-x}
img,fieldset{border:0 none}
ul,ol{list-style:none}
button{cursor:pointer}
header,hgroup,article,nav,footer,figure,figcaption,canvas,section,time{display:block}
a{color:#333;text-decoration:none}
a:hover,a:active{text-decoration:underline}
img,fieldset,iframe{border:0}
em,address{font-style:normal}
em {color:#fc8800}
hr{display:none}
input,select,button{vertical-align:middle}

/* Common Add */
/*caption,legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:-999em;width:0;height:0;font-size:0;line-height:0;text-align:left}
caption{position:static}*/
legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:-999em;width:0;height:0;font-size:0;line-height:0;text-align:left}
input[type=text], input[type=password]{height:23px;padding:0 7px;border:1px solid #bbb;background:#fff;line-height:23px;font-size:12px;color:#666}
input[type=text].readonly{}
input[type=text].disabled{background:#f7f8f9}
input[type=text]:focus, input[type=password]:focus{border:1px solid #bbb}


.safari input[type=text],
.safari input[type=text].readonly,
.safari input[type=text].disabled,
.safari input[type=password]{line-height:1.2;}

input[type=radio]{*width:13px;*height:13px;margin-bottom:3px}
select {height:25px;vertical-align:middle;border:1px solid #bbb;padding:3px !important;color:#666;font-size:12px;line-height:19px; letter-spacing:-1px;}
textarea{padding:5px 7px;border:1px solid #bbb;line-height:1.5em;color:#666;font-size:12px;resize:none;}
/* placeholder */
.placeholder {}

/*a link*/
.alinkB {color:#0459c1;text-decoration:underline}
.alinkR {color:#f21c1c;text-decoration:underline}
/*em color*/
.txtRed {color:#f21c1c !important}
.txtBlue {color:#0459c1 !important}
.txtGreen {color:#46c457 !important}
.txtG3 {color:#333 !important}
.txtG9 {color:#999 !important}
.txtG6 {color:#666 !important}
.guideTxt {display:inline-block;color:#999;letter-spacing:-1px}
.guideTxt.c3 {color:#333}
.guideTxt.s {font-size:11px}
.guideTxt.type1 {display:block !important;text-align:right}
.guideTxt.type2 {display:block !important;margin:0 !important}
.guideTxt.type3 {display:block !important; font-size:11px; clear:both;}
.errorTxt {color:#f21c1c;font-size:11px;letter-spacing:-1px;margin:7px 0 2px}
.guideTxt .icoRarrow {margin-left:3px;margin-right:3px}
/* basic */
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:-999em;width:0;height:0;font-size:0;line-height:0;text-align:left}
.hide{display:none}
.inline_b{display:inline-block !important}
.fl{float:left}
.fr{float:right}
.fn{float:none}
.cb{clear:both;}
.overflow_h{overflow:hidden; zoom:1}
.pr{position:relative;}
.pr1{position:relative;}
.pa{position:absolute;}
.ellipsis{display:inline-block;overflow:hidden;width:auto;white-space:nowrap;text-overflow:ellipsis;vertical-align:middle}
.tspace{letter-spacing:-1px}
.tbpace{letter-spacing:0 !important}
.hspace{line-height:1.5em}
.hspace1{line-height:1.2}
.hspace2{line-height:33px !important}
.fs11{font-size:.917em}
.fs10{font-size:.833em}
.fs14{font-size:14px}
.ft_engtype{font-family:verdana}
.text_c {text-align:center !important}
.text_l {text-align:left !important}
.text_r {text-align:right !important}
.vertical_t {vertical-align:top !important}
.vertical_m {vertical-align:middle !important}
.vertical_b {vertical-align:bottom !important}
.bg_none {background:none !important}
.bg_f {background:#fff !important}
.border_none {border:none !important}
.bdT_none {border-top:none !important}
.bdB_none {border-bottom:none !important}
.bdB_gray {border-bottom:solid 1px #dcdcdc !important;}
.bdT_gray {border-top:solid 1px #dcdcdc !important;}
.f_nor{font-weight:normal !important}
.f_bld{font-weight:bold !important}
.f11{font-size:11px !important}
.f12{font-size:12px !important}
.txtul {text-decoration:underline}
.txtlt{text-decoration:line-through}

/*divider*/
.divider {display:inline-block;width:13px;text-align:center;color:#d6d6d6;padding-right:2px}

/* clear */
.clearfix {*zoom:1} /* IE5.5~7 브라우저 대응 Hack */
.clearfix:after {display:block;clear:both;content:" "} /* 표준브라우저 */

/* margin, padding, float, align*/
.m0 {margin:0 !important}
.mt0 {margin-top:0px !important}
.mt1 {margin-top:1px !important}
.mt2 {margin-top:2px !important}
.mt3 {margin-top:3px !important}
.mt4 {margin-top:4px !important}
.mt5 {margin-top:5px !important}
.mt6 {margin-top:6px !important}
.mt7 {margin-top:7px !important}
.mt8 {margin-top:8px !important}
.mt9 {margin-top:9px !important}
.mt10 {margin-top:10px !important}
.mt11 {margin-top:11px !important}
.mt12 {margin-top:12px !important}
.mt13 {margin-top:13px !important}
.mt14 {margin-top:14px !important}
.mt15 {margin-top:15px !important}
.mt16 {margin-top:16px !important}
.mt17 {margin-top:17px !important}
.mt18 {margin-top:18px !important}
.mt19 {margin-top:19px !important}
.mt20 {margin-top:20px !important}
.mt21 {margin-top:21px !important}
.mt23 {margin-top:23px !important}
.mt24 {margin-top:24px !important}
.mt25 {margin-top:25px !important}
.mt26 {margin-top:26px !important}
.mt27 {margin-top:27px !important}
.mt29 {margin-top:29px !important}
.mt30 {margin-top:30px !important}
.mt31 {margin-top:31px !important}
.mt32 {margin-top:32px !important}
.mt33 {margin-top:33px !important}
.mt35 {margin-top:35px !important}
.mt36 {margin-top:36px !important}
.mt37 {margin-top:37px !important}
.mt40 {margin-top:40px !important}
.mt42 {margin-top:42px !important}
.mt50 {margin-top:50px !important}
.mt52 {margin-top:52px !important}
.mt54 {margin-top:54px !important}
.mt60 {margin-top:60px !important}
.mt111 {margin-top:111px !important}
.mt214 {margin-top:214px !important}

.mtm1 {margin-top:-1px !important}
.mtm2 {margin-top:-2px !important}
.mtm7 {margin-top:-7px !important}
.mtm12 {margin-top:-12px !important}
.mtm19 {margin-top:-19px !important}

.mr0 {margin-right:0px !important}
.mr1 {margin-right:1px !important}
.mr2 {margin-right:2px !important}
.mr3 {margin-right:3px !important}
.mr4 {margin-right:4px !important}
.mr5 {margin-right:5px !important}
.mr6 {margin-right:6px !important}
.mr7 {margin-right:7px !important}
.mr8 {margin-right:8px !important}
.mr9 {margin-right:9px !important}
.mr10 {margin-right:10px !important}
.mr15 {margin-right:15px !important}
.mr16 {margin-right:16px !important}
.mr30 {margin-right:30px !important}
.mr33 {margin-right:33px !important}
.mr37 {margin-right:37px !important}
.mr38 {margin-right:38px !important}
.mr48 {margin-right:48px !important}
.mr51 {margin-right:51px !important}
.mr57 {margin-right:57px !important}
.mr65 {margin-right:65px !important}
.mr68 {margin-right:68px !important}
.mr74 {margin-right:74px !important}
.mr90 {margin-right:90px !important}
.mr116 {margin-right:116px !important}
.mr156 {margin-right:156px !important}

.mb0 {margin-bottom:0px !important}
.mb1 {margin-bottom:1px !important}
.mb2 {margin-bottom:2px !important}
.mb3 {margin-bottom:3px !important}
.mb4 {margin-bottom:4px !important}
.mb5 {margin-bottom:5px !important}
.mb6 {margin-bottom:6px !important}
.mb7 {margin-bottom:7px !important}
.mb8 {margin-bottom:8px !important}
.mb10 {margin-bottom:10px !important}
.mb13 {margin-bottom:13px !important}
.mb14 {margin-bottom:14px !important}
.mb15 {margin-bottom:15px !important}
.mb16 {margin-bottom:16px !important}
.mb17 {margin-bottom:17px !important}
.mb20 {margin-bottom:20px !important}
.mb23 {margin-bottom:23px !important}
.mb25 {margin-bottom:25px !important}
.mb27 {margin-bottom:27px !important}
.mb28 {margin-bottom:28px !important}
.mb30 {margin-bottom:30px !important}
.mb31 {margin-bottom:31px !important}
.mb35 {margin-bottom:35px !important}
.mb36 {margin-bottom:36px !important}
.mb37{margin-bottom:37px !important}
.mb39 {margin-bottom:39px !important}
.mb40 {margin-bottom:40px !important}
.mb50 {margin-bottom:50px !important}

.mlm1 {margin-left:-1px !important}
.ml0 {margin-left:0px !important}
.ml1 {margin-left:1px !important}
.ml2 {margin-left:2px !important}
.ml3{margin-left:3px !important}
.ml4 {margin-left:4px !important}
.ml5 {margin-left:5px !important}
.ml6 {margin-left:6px !important}
.ml7 {margin-left:7px !important}
.ml9 {margin-left:9px !important}
.ml10 {margin-left:10px !important}
.ml11 {margin-left:11px !important}
.ml12 {margin-left:12px !important}
.ml13 {margin-left:13px !important}
.ml14 {margin-left:14px !important}
.ml15 {margin-left:15px !important}
.ml16 {margin-left:16px !important}
.ml17 {margin-left:17px !important}
.ml19 {margin-left:19px !important}
.ml20 {margin-left:20px !important}
.ml22 {margin-left:22px !important}
.ml24 {margin-left:24px !important}
.ml26 {margin-left:26px !important}
.ml30 {margin-left:30px !important}
.ml28 {margin-left:28px !important}
.ml31 {margin-left:31px !important}
.ml32 {margin-left:32px !important}
.ml33 {margin-left:33px !important}
.ml44 {margin-left:44px !important}
.ml51 {margin-left:51px !important}
.ml55 {margin-left:55px !important}
.ml56 {margin-left:56px !important}
.ml70 {margin-left:70px !important}
.ml117 {margin-left:117px !important}

.p0{padding:0 !important}
.pt0 {padding-top:0px !important}
.pt5 {padding-top:5px !important}
.pt3 {padding-top:3px !important}
.pt4 {padding-top:4px !important}
.pt6 {padding-top:6px !important}
.pt7 {padding-top:7px !important}
.pt9 {padding-top:9px !important}
.pt10 {padding-top:10px !important}
.pt13 {padding-top:13px !important}
.pt14 {padding-top:14px !important}
.pt15 {padding-top:15px !important}
.pt20 {padding-top:20px !important}
.pt25 {padding-top:25px !important}
.pt26 {padding-top:26px !important}
.pt35 {padding-top:35px !important}

.pr20 {padding-right:20px !important}
.pr22 {padding-right:22px !important}

.pb0 {padding-bottom:0px !important}
.pb3 {padding-bottom:3px !important}
.pb4 {padding-bottom:4px !important}
.pb5 {padding-bottom:5px !important}
.pb7 {padding-bottom:7px !important}
.pb8 {padding-bottom:8px !important}
.pb9{padding-bottom:9px !important}
.pb10{padding-bottom:10px !important}
.pb13 {padding-bottom:13px !important}
.pb14 {padding-bottom:14px !important}
.pb15 {padding-bottom:15px !important}
.pb50 {padding-bottom:50px !important}
.pb70 {padding-bottom:70px !important}

.pl5 {padding-left:5px !important}
.pl10{padding-left:10px !important}
.pl12{padding-left:12px !important}
.pl18 {padding-left:18px !important}
.pl21 {padding-left:21px !important}
.pl25 {padding-left:25px !important}
.pl29 {padding-left:29px !important}
.pl30 {padding-left:30px !important}
.pl31 {padding-left:31px !important}
.pl56 {padding-left:56px !important}
.pl180 {padding-left:180px !important}
.plr10 {padding-left:10px !important;padding-right:10px !important}
.plr0 {padding-left:0px !important;padding-right:0px !important}

.pr4 {padding-right:4px !important;}

/* width, height */
.w69{width:69%}
/*.w70{width:70%}*/
.w80{width:80%}
.w100{width:100%}
.w124{width:124px !important;}
.w125{width:125px !important;}
.w137{width:137px !important}
/* .w620{width:620px !important} */

/* all */
::-webkit-input-placeholder { color:#CCC; }
::-moz-placeholder { color:#CCC; } /* firefox 19+ */
:-moz-placeholder { color:#CCC; } /* firefox 18- */
input:-ms-input-placeholder { color:#CCC; } /* ie */
:-ms-input-placeholder { color:#CCC; } /* ie */